p, h1, h2, li
{
	font-family:Arial;
}




p, li
{
	font-size:1.5em;
}


h2, h1
{
	font-size:2.5em;
}


body
{
	background-image: url("ariere-plan.jpg");
	background-color:greenyellow;
}

h1
{
	text-align:center;
}

